<ion-header>

</ion-header>

<ion-content padding>

    <ion-searchbar (ionInput)="teste($event)"></ion-searchbar>
 
  
  <ion-item *ngIf="dataHoje">
    <ion-label>Mostrando horários do dia {{dataHoje}} </ion-label>
  </ion-item>

  <div *ngIf="resultado">
    <ion-list>
      <ion-item *ngFor="let item of resultado" (click)="pesquisarOnibus(item)">
        {{ item.nome }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="horariosSaida">
    <ion-card>
      <ion-card-header>
        {{horariosSaida.postoControle}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row wrap>
            <ion-col col-3 *ngFor="let horarios of horariosSaida.horarios">
              <button ion-button small color='amarelo'>
                {{horarios.horario}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="horariosRua">
    <ion-card>
      <ion-card-header text-wrap>
        {{horariosRua.postoControle}}
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row wrap>
            <ion-col col-3 *ngFor="let horarios of horariosRua.horarios">
              <button ion-button small color='dark'>
                {{horarios.horario}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>